@(currentPage: InfoPage[(Place, Option[Page_model])], currentOrderBy: Int, currentFilter: String ,user: securesocial.core.Identity)(implicit flash: play.api.mvc.Flash)
(implicit request: RequestHeader)
@import securesocial.core.IdentityProvider


@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
	routes.Place.list(newPage, newOrderBy.map {
		orderBy =>
			if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
	}.getOrElse(currentOrderBy), currentFilter)

}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
	<th class="col @orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{
		if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"
	}">
		<a href="@link(0, Some(orderBy))">@title</a>
	</th>
}

@main {
	<div class="page-header">
		<h2><img src="@user.avatarUrl" alt="@user.firstName" width="40px" height="40px"/> @user.firstName</h2>
	</div>
	<h1>@Messages("places.list.title", currentPage.total)</h1>

	@flash.get("success").map { message =>
		<div class="alert-message warning">
			<strong>Done!</strong> @message
		</div>
	}

	<div id="actions">
		@helper.form(action = routes.Place.list()) {
			<input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by Place title...">
			<input type="submit" id="searchsubmit" value="Filter by title" class="btn primary">
		}

		<a class="btn success" id="add" href="@routes.Place.create()">Add a new place</a>
	</div>

	@Option(currentPage.items).filterNot(_.isEmpty).map { places =>

		<table class="computers zebra-striped">
		<thead>
			<tr>
				<th>id</th>
				@header(4, "Title")
				<th>Url_Keys</th>
				<th>page_id</th>
				<th colspan="2">- -  Actions  - -</th>
			</tr>
		</thead>
		<tbody>

		@places.map {
			case (place, page) => {
		    	<tr>
		    		<td>@place.id</td>
			    	<td>@place.title</a></td>
				    <td>@place.urlKey</td>
				    <td>@page.map(_.title).getOrElse { <em>-</em> }</td>
				    <td><a href="@routes.Place.edit(place.id.get)">Edit</a></td>
				    <td><a href="@routes.Place.delete(place.id.get)">Delete</a></td>
			    </tr>
		    }
	    }


</tbody>
</table>

	<div id="pagination" class="pagination">
	<ul>
	@currentPage.prev.map { page =>
		<li class="prev">
			<a href="@link(page)">&larr; Previous</a>
		</li>
	}.getOrElse {
	<li class="prev disabled">
		<a>&larr; Previous</a>
	</li>
}
<li class="current">
	<a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + places.size) of @currentPage.total</a>
</li>
@currentPage.next.map { page =>
	<li class="next">
		<a href="@link(page)">Next &rarr;</a>
	</li>
}.getOrElse {
<li class="next disabled">
	<a>Next &rarr;</a>
</li>
	}
</ul>
        </div>
	}.getOrElse {

<div class="well">
	<em>Nothing to display</em>
</div>

	}
	}

            